{% extends 'wise_core/base.html' %}

{% block body %}
    <div class="page-panel">
        <div class="top-actions-header">
            {% block detail_back %}{% endblock %}
        </div>
        {% block detail_tabs %}{% endblock %}
        <div class="mt-4">
            <div class="detail-panel">
                <div class="detail-panel-header">
                    <h2>{% block detail_title %}{{ object }}{% endblock %}</h2>
                    <div class="detail-panel-actions">
                        {% block detail_actions %}{% endblock %}
                    </div>
                </div>
                {% block detail_content %}
                    <table>
                        {% block detail_rows %}{% endblock %}
                    </table>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
